<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecVegetal </title>
    <link rel="stylesheet" href="css/conversacion.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header>
        <h2 class="logo"><img src="css/Imagenes/Logo Tec.png"></h2>
        <nav class="navigation">
            <a href="#">Mi Perfil</a>
            <a href="#">Cursos creados</a>
            <a href="#">Cursos matriculados</a>
            <a href="#">Cursos publicados</a>
            <a href="#">Contactos</a>
            <a href="#">Mensajes</a>
        </nav>
    </header>
    <div class="conversacion">
        <div class="info">
            <label>Contacto</label>
        </div>

        <div id="chat-container">
            <div id="chat"></div>
        </div>
        <div class="escribir">
            <form class="chat-form" id="chat-form">
                <input type="text" id="message" placeholder="Escribe tu mensaje aquí" />
                <button type="submit" class="btn">Enviar</button>
            </form>
        </div>
        <script>

            function addMessage(message) {
                const chat = document.getElementById('chat');
                const messageElement = document.createElement('div');
                messageElement.textContent = message;
                chat.appendChild(messageElement);
            }

            document.getElementById('chat-form').addEventListener('submit', function (e) {
                e.preventDefault();
                const messageInput = document.getElementById('message');
                const message = messageInput.value;
                addMessage(`Tú: ${message}`);
                messageInput.value = '';
            });
        </script>
    </div>
</body>
</html>