<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecVegetal </title>
    <link rel="stylesheet" href="css/styleMain.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head> 

<body>
    <header>
        <h2 class="logo"><img src="css/Imagenes/Logo Tec.png"></h2>
        <nav class="navigation">
            <a href="#">Mi Perfil</a>
            <a href="#">Cursos creados</a>
            <a href="#">Cursos matriculados</a>
            <a href="#">Cursos publicados</a>
            <a href="#">Contactos</a>
            <a href="#">Mensajes</a>
        </nav>

        <div class="form-box curso">
            <form action="crearCurso" name="CursoForm" method="post">
            <div class="info">
                <h3>Crear curso</h3>
            </div>
            <div class="input-pic">
                <input type="file" accept="image/jpg, image/jpeg, image/png" required>
                <label>Foto del curso</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="text" name="codigo"required>
                <label>Código</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="text" name="nombreCurso"required>
                <label>Nombre del curso</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="text" name="descripcion"required>
                <label>Descripción</label>
            </div>
            <div class="input-date">
                <input type="date" required>
                <label>Fecha de inicio</label>
            </div>
            <div class="input-date">
                <input type="date" required>
                <label>Fecha de finalización</label>
            </div>
            <button type="submit" class="btn">Crear curso</button>
            </form>
        </div>
    </header>

    
</body>
</html>