<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecVegetal </title>
    <link rel="stylesheet" href="css/stylecursosCreados.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head> 

<body>
    <header>
        <h2 class="logo"><img src="css/Imagenes/Logo Tec.png"></h2>
        <nav class="navigation">
            <a href="/setMainPage">Mi Perfil</a>
            <a href="/setCurso">Cursos creados</a>
            <a href="/setEnrollment">Cursos matriculados</a>
            <a href="/setFindCourses">Cursos publicados</a>
            <a href="#">Contactos</a>
            <a href="#">Mensajes</a>
            
        </nav>
    </header>
    <div class="search-box cursosMatriculados">
        <div class="input-box">
            <i class='bx bxs-search'></i>
            <input type="text" id="search-box" onkeyup="sendData(this)">
            <label>Buscar un curso</label>
        </div>
    </div>
    <div class="form-box cursosPublicados" id="cursosPublicadosForm">
            <% courses.forEach(function(course) { %>
                <!-- Agregar un if para verificar si el curso coincide con la búsqueda -->
                <form action="/cursoDetallesPublicados" method="post">
                    <label class="labelCurso"><%= course.name %> </label>
                    <input type="text" value="<%= course.id %>" name="input" hidden>
                    <button type="submit" class="btn" name="curso" >
                        Ver Detalles
                    </button>
                </form>
            <% }); %> 
    </div>
    </form>

    <script>
        function sendData(e) {
            const div = document.createElement('div');
            div.innerHTML = '';
                fetch('getCourses', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ payload: e.value })
                }).then(res => res.json()).then(data => {
                    let payload = data.payload;
                    div.innerHTML = '';
    
                    if (payload.length < 1) {
                        div.innerHTML = '<p>Sorry</p>';
                        return;
                    }
    
                    payload.forEach((item) => {
                        const form = document.createElement('form')
                        form.action = '/cursoDetallesPublicados'
                        form.method = 'post'

                        const input = document.createElement('input')
                        input.type = 'text'
                        input.value = item.id
                        input.name = 'input'
                        input.hidden = true

                        const label = document.createElement('label');
                        label.className = 'labelCurso';
                        label.textContent = item.name;
    
                        const button = document.createElement('button');
                        button.type = 'submit';
                        button.className = 'btn';
                        button.name = 'curso';
                        button.value = item.name;
                        button.textContent = 'Ver Detalles';
                        form.appendChild(input)
                        form.appendChild(label);
                        form.appendChild(button);
                        div.appendChild(form)
                        
                    });
    
                    // Limpia los botones anteriores antes de agregar los nuevos
                    cursosPublicadosForm.innerHTML = '';
                    cursosPublicadosForm.appendChild(div);
                });
                return;
            }
    </script>
</body>
</html>