<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecVegetal </title>
    <link rel="stylesheet" href="css/mensaje.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head> 

<body>
    <header>
        <h2 class="logo"><img src="css/Imagenes/Logo Tec.png"></h2>
        <nav class="navigation">
            <a href="/setMainPage">Mi Perfil</a>
            <a href="/setCurso">Cursos creados</a>
            <a href="/setEnrollment">Cursos matriculados</a>
            <a href="/setFindCourses">Cursos publicados</a>
            <a href="#">Contactos</a>
            <a href="#">Mensajes</a>
        </nav>
    </header>

    <div class="form-box seccion">
        <form action="evaluaciones" name="evaluacionesForm" method="post">
        <div class="info">
            <label>Curso 1</label>
        </div>
        <nav class="navigation1">
            <a href="/detallesCreado">Detalles</a>
            <a href="/evaluacionesCreado">Evaluaciones</a>
            <a href="/estudiantesMiCurso">Estudiantes</a>
            <a href="/seccionesMiCurso">Secciones</a>
        </nav> 

        <input type="hidden" name="codigo" value="<%= course.id %>">
        <div class="estudiantes">
            <% course.evaluations.forEach(function(evaluation) { %>
                    <label><%= evaluation.code %></label>
            <% }); %>
        </div>
        <button type="submit" formaction="/menuCrearEvaluacion" formmethod="post" class="btn"> Crear Evaluacion</button>
    </div>

</body>