<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecVegetal </title>
    <link rel="stylesheet" href="css/mensaje.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head> 

<body>
    <header>
        <h2 class="logo"><img src="css/Imagenes/Logo Tec.png"></h2>
        <nav class="navigation">
            <a href="#">Mi Perfil</a>
            <a href="#">Cursos creados</a>
            <a href="#">Cursos matriculados</a>
            <a href="#">Cursos publicados</a>
            <a href="#">Contactos</a>
            <a href="#">Mensajes</a>
        </nav>
    </header>

    <div class="form-box seccion">
        <form action="evaluaciones" name="evaluacionesForm" method="post">
        <div class="info">
            <label>Curso 1</label>
        </div>
        <nav class="navigation1">
            <a href="#">Detalles</a>
            <a href="#">Evaluaciones</a>
            <a href="#">Estudiantes</a>
            <a href="#">Secciones</a>
        </nav> 

        <div class="estudiantes">
            <button type="submit" class="btn2"> Evaluación1</button>
            <button type="submit" class="btn2"> Evaluación2</button>
            <button type="submit" class="btn2"> Evaluación3</button>
        </div>
        <button type="submit" class="btn"> Crear Evaluacion</button>
    </div>

</body>