<!DOCTYPE html>
<html>
<head>
  <title>Cargar y Mostrar Archivo</title>
</head>
<body>
  <h1>Cargar y Mostrar Archivo</h1>
  <form action="/subir-archivo" method="post" enctype="multipart/form-data">
    <input type="file" name="archivo" />
    <button type="submit">Cargar Archivo</button>
  </form>
  <!-- Aquí se mostrará el archivo cargado -->
  <img src="imagen.jpg" alt="Archivo" />
</body>
</html>