<!DOCTYPE html>
<html lang ="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login TecVegetal </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body clas="index">

    <div class="wrapper">
        <div class="form-box login">
            <h2>Login</h2>
            <form action="/login" name="loginForm" method="post">
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="username" name="username" required>
                <label>Username</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="password" name="password"required>
                <label>Password</label>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>¿No tienes una cuenta? <a href="mainPage.html">Registrate</a></p>
            </div>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>