<!DOCTYPE html>
<html lang ="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login TecVegetal </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body clas="index">

    <div class="wrapper">
        <div class="form-box login">
            <h2>Login</h2>
            <form action="/login" name="loginForm" method="post">
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="username" name="username" required>
                <label>Username</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="password" name="password"required>
                <label>Password</label>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>¿No tienes una cuenta? <a href="#" class="register-link">Registrate</a></p>
            </div>
            </form>
        </div>
        <div class="form-box register">
            <h2>Registro</h2>
            <form action="/register" name="registerForm" method="post">
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="username" name="usernameR"required>
                <label>Username</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="password" name="passR"required>
                <label>Password</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="text" name="nombre_completo"required>
                <label>Nombre Completo</label>
            </div>
            <div class="input-date">
                <input type="date" name="fecha_nacimiento" required>
                <label>Fecha Nacimiento</label>
            </div>
            <div class="input-pic">
                <input type="file" accept="image/jpg, image/jpeg, image/png" name="profile_pic" required>
                <label>Foto perfil</label>
            </div>
            <button type="submit" class="btn">Registrar</button>
            <div class="login-register">
                <p>¿Ya tienes una cuenta? <a href="#" class="login-link">Loggeate</a></p>
            </div>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>