<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecVegetal </title>
    <link rel="stylesheet" href="css/styleMain.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head> 

<body>
    <header>
        <h2 class="logo"><img src="css/Imagenes/Logo Tec.png"></h2>
        <nav class="navigation">
            <a href="/setMainPage">Mi Perfil</a>
            <a href="/setCurso">Cursos creados</a>
            <a href="/setEnrollment">Cursos matriculados</a>
            <a href="/setFindCourses">Cursos publicados</a>
            <a href="#">Contactos</a>
            <a href="#">Mensajes</a>
        </nav>

        <div class="form-box register">
            <form action="/update" name="registerForm" method="post">
            <div class="info">
                <h3>Informaci칩n Personal</h3>
            </div>
            <div class="input-pic">
                <input type="file" accept="image/jpg, image/jpeg, image/png" required>
                <label>Foto perfil</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="Usuario" name="usuarioR"required>
                <label>Usuario</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="contrase침a" name="contrase침aR"required>
                <label>Contrase침a</label>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="text" name="nombre_completo"required>
                <label>Nombre Completo</label>
            </div>
            <div class="input-date">
                <input type="date" required>
                <label>Fecha Nacimiento</label>
            </div>
            <button type="submit" class="btn">Actualizar</button>
            
            </form>
        </div>
    </header>

    
</body>
</html>