<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecVegetal </title>
    <link rel="stylesheet" href="css/nuevoMensaje.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head> 

<body>
    <header>
        <h2 class="logo"><img src="css/Imagenes/Logo Tec.png"></h2>
        <nav class="navigation">
            <a href="#">Mi Perfil</a>
            <a href="#">Cursos creados</a>
            <a href="#">Cursos matriculados</a>
            <a href="#">Cursos publicados</a>
            <a href="#">Contactos</a>
            <a href="#">Mensajes</a>
        </nav>
    </header>

    <div class="form-box cursosCreados">
        <div class="input-box">
            <i class='bx bxs-user'></i>
            <input type="text" name="destinatario"required>
            <label>Nombre de contacto</label>
        </div>
        <div class="input-box">
            <i class='bx bxs-message'></i>
            <input type="text" name="Mensajes"required>
            <label>Mensaje</label>
        </div>
        <button type="submit" class="btn">Enviar</button>
    </div>
</body>