<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecVegetal </title>
    <link rel="stylesheet" href="css/persona.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head> 

<body>
    <header>
        <h2 class="logo"><img src="css/Imagenes/Logo Tec.png"></h2>
        <nav class="navigation">
            <a href="#">Mi Perfil</a>
            <a href="#">Cursos creados</a>
            <a href="#">Cursos matriculados</a>
            <a href="#">Cursos publicados</a>
            <a href="#">Contactos</a>
            <a href="#">Mensajes</a>
        </nav>
    </header>

    <div class="form-box personaInfo">
        <form action="personaInfo" name="personaInfoForm" method="post">
        <div class="info">
            <label>NOMBRE DEL ESTUDIANTE</label>
        </div>
        <div class = "botones">
            <button type="submit" class="btn">Escribir mensaje</button>
            <button type="submit" class="btn">Agregar contacto</button>
        </div>
        <nav class="navigation1">
            <a href="#">Cursos matriculados</a>
            <a href="#">Cursos creados</a>
        </nav>

        <div class="detalles">
            <p>Curso 1 </p>
            <p>Curso 2</p>
            <p>Curso 3 </p>

        </div>
    </div>

</body>
</html>