<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecVegetal </title>
    <link rel="stylesheet" href="css/secciones.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head> 

<body>
    <header>
        <h2 class="logo"><img src="css/Imagenes/Logo Tec.png"></h2>
        <nav class="navigation">
            <a href="/setMainPage">Mi Perfil</a>
            <a href="/setCurso">Cursos creados</a>
            <a href="/setEnrollment">Cursos matriculados</a>
            <a href="/setFindCourses">Cursos publicados</a>
            <a href="/setContactos">Contactos</a>
            <a href="/setMensajes">Mensajes</a>
        </nav>
    </header>

    <div class="form-box seccion">
        <div class="info">
            <label><%= course.name %></label>
        </div>
        <div class="info">
            <label><%= section.description %></label>
        </div>
        <input type="hidden" name="codigo" value="<%= course.id %>">
    <div class="botones">
    <% section.documents.forEach(function(document) { %>
        <form action="/verSeccion" method="post">
        <button type="submit" class="btn2"><%= document.name %></button>
        </form>
    <% }); %>
    </div>

</body>