<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TecVegetal </title>
    <link rel="stylesheet" href="css/secciones.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head> 

<body>
    <header>
        <h2 class="logo"><img src="css/Imagenes/Logo Tec.png"></h2>
        <nav class="navigation">
            <a href="/setMainPage">Mi Perfil</a>
            <a href="/setCurso">Cursos creados</a>
            <a href="/setEnrollment">Cursos matriculados</a>
            <a href="/setFindCourses">Cursos publicados</a>
            <a href="/setFindUsers">Burcar Usuarios</a>
            <a href="/setContactos">Contactos</a>
            <a href="/setMensajes">Mensajes</a>
            <a href="/logOut">Cerrar Sesión</a>
        </nav>
    </header>

    <div class="form-box seccion">
        <div class="info">
            <label><%= course.name%></label>
        </div>

        <nav class="navigation1">
            <a href="/detallesMatriculado">Detalles</a>
            <a href="/evaluacionesMatriculado">Evaluaciones</a>
            <a href="/estudiantesMatriculado">Estudiantes</a>
            <a href="/seccionesMatriculado">Secciones</a>
            <a href="/notasMatriculado">Notas</a>
        </nav>
        
    <div class="botones">
    <% course.sections.forEach(function(section) { %>
        <form action="/verSeccion" method="post">
            <input type="hidden" name="codigo" value="<%= course.id %>">
            <input type="hidden" name="desc" value="<%= section.description %>">
            <button type="submit" class="btn2"><%= section.description %></button>
        </form>
    <% }); %>
    </div>

</body>